{% extends 'base.html' %}
{% block body %}
    <style>
        h1{
            font-size: 60px;
            font-weight: bold;
            font-family:"Times New Roman", Times, serif;
            width: -moz-fit-content;
            width: fit-content;
            display: inline;
            background-color: white;
            padding:3px 3px 3px 6px;
        }
    </style>
    <a style='display:inline' class="btn btn-success float-right" href="{% url 'ecommerce:create_order' %}" >+ Add Order</a>
    <br>
    <br>
    <br>
    <div class="container">
<div class="col-md-12">
		<h1>Statistics</h1>
    <br>
    <br>
		<div class="card card-body">
            <table class="table">
				<tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Washed Cars</th>
                    <th>Today Earned</th>
                    <th>Weekly Earned</th>
                    <th>Monthly Earned</th>
                    <th>Yearly Earned</th>
				</tr>
                <tr>
                    <td>{{ washer_by_id.id }}</td>
					<td>{{ washer_by_id.name }}</td>
                    <td>{{ washer_by_id.orders.count }}</td>
                    <td>{{ today_earned }}</td>
                    <td>{{ weekly_earned }}</td>
                    <td>{{ monthly_earned }}</td>
                    <td>{{ yearly_earned }}</td>
                </tr>
			</table>
		</div>
	</div>

{% endblock body %}