{% extends 'base.html' %}
{% block body %}
<style>
        h1{
            font-size: 60px;
            font-weight: bold;
            font-family:"Times New Roman", Times, serif;
            width: -moz-fit-content;
            width: fit-content;
            display: inline;
            background-color: white;
            padding:3px 3px 3px 6px;
        }
    </style>
    <a style='display:inline' class="btn btn-success float-right" href="{% url 'ecommerce:create_order' %}" >+ Add Order</a>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="col-md-12">
                <h1>Statistics</h1>
            <br>
            <br>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Last Week Amount paid</th>
                            <th>Number of tickets purchased a week ago</th>
                            <th>Last Month Amount paid</th>
                            <th>Number of tickets purchased a month ago</th>
                            <th>Last Year Amount paid</th>
                            <th>Number of tickets purchased a year ago</th>
                        </tr>
                        <tr>
                            <td>{{ last_week_spend_money }} $</td>
                            <td>{{ quantity_of_tickets_last_week }} pieces</td>
                            <td>{{ last_month_spend_money }} $</td>
                            <td>{{ quantity_of_tickets_last_month }} pieces</td>
                            <td>{{ last_year_spend_money }} $</td>
                            <td>{{ quantity_of_tickets_last_year }} pieces</td>
                        </tr>
                    </table>
                </div>
	    </div>
    </div>
{% endblock body %}