{% extends 'base.html' %}
{% block body %}
    <style>
        h1{
            font-size: 50px;
            font-weight: bold;
            font-family:"Times New Roman", Times, serif;
            width: -moz-fit-content;
            width: fit-content;
            display: inline;
            background-color: white;
            padding:3px 3px 3px 6px;
        }
    </style>
    <br>
    <br>
    <h1>Order Creating</h1>
    <form action="" method="POST" >
        {% csrf_token %}
        <br>
        <div class="card card-body">
        <table>
            <tr>
                <th>Ticket</th>
            </tr>
            <tr>
                <th>{{ form.ticket }}</th>
            </tr>
        </table>
            <br>
        <input class="btn btn-success" type="submit" name="submit">
        </div>


{% endblock %}
</form>
