{% extends 'base.html' %}
{% block body %}
    <hr>
        <form action="">
              <div class = "form-group">
                  <label>
                      <input type="search" name="q">
                  </label>
                  <button class = "btn btn-info" >Search</button>
              </div>
        </form>
<div class="card card-body">
            <table class="table">
				<tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Price</th>
				</tr>
				{% for order in orders %}
					<tr>
                        <td>{{ order.pk }}.</td>
                        <td>{{ order.ticket.name }}</td>
                        <td>{{ order.ticket.price }}</td>
					</tr>
                {% endfor %}
			</table>
            <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_page_url }}" tabindex="-1">Previous</a>
            </li>

              {% for i in orders.paginator.page_range %}
                  {% if order.number == i %}
                      <li class="page-item active">
                        <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                      </li>
                  {% elif i > orders.number|add:-3 and i < orders.number|add:3 %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ next_page_url }}">Next</a>
                </li>
          </ul>
        </nav>
		</div>
{% endblock %}